body{
    background: #F6EEFF;
}
h1{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
}

img{
    border-radius: 10px;
    width: 130px;
}
ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
ul li{
    list-style: none;
    margin: 50px;
}
span{
    display: block;
    flex-wrap: wrap;
}